body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #fdfdfd;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 15px auto;
  box-shadow: 0 0 5px #ccc;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.empresa {
  background: #f0f8ff;
}

.cliente {
  background: #e6ffe6;
}

.productos {
  background: #fffaf0;
}

.info {
  background: #f9f9ff;
}

th {
  background: #d0e0ff;
}
